@use 'sass:map';
@use 'sass:math';


@function rem($px) {
  $html-font-size: 16;
  @return #{math.div($px, $html-font-size)}rem;
}

$breakpoints: (
  mobile: 360,
  tablet: 720,
  laptop: 1184,
  desktop: 1520,
);

@mixin media($size) {
  $breakpoint: rem(map.get($breakpoints, $size));

  @media screen and (min-width: $breakpoint) {
    @content;
  }
}


@mixin media-only-tablet {
  @media screen and (min-width: rem(map.get($breakpoints, tablet))) and (max-width: rem(map.get($breakpoints, laptop) - 1)) {
    @content;
  }
}

@mixin screenreader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@mixin container {
  padding-inline: 6.4%;

  @include media(tablet) {
    padding-inline: max(6.4%, 50vw - rem(555px));
  }
}