@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

@layer components {
  .container {
    max-width: 87.2%;
    @apply mx-auto;
  }

  .container-full {
    @apply mx-auto overflow-hidden;
    width: min(100%, 90rem);
  }

  @media screen(lg) {
    .container {
      max-width: 69.375rem;
    }
  }

  .vn__mask-icon {
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
  }

  .vn__hamburger-icon {
    @apply vn__mask-icon;
    mask-image: url("/assets/hamburger.svg");
  }

  .vn__close-icon {
    @apply vn__mask-icon;
    mask-image: url("/assets/close.svg");
  }

  .vn__facebook-icon {
    @apply vn__mask-icon;
    mask-image: url("/assets/icon-facebook.svg");
  }

  .vn__twitter-icon {
    @apply vn__mask-icon;
    mask-image: url("/assets/icon-twitter.svg");
  }

  .vn__instagram-icon {
    @apply vn__mask-icon;
    mask-image: url("/assets/icon-instagram.svg");
  }

  .vn__pinterest-icon {
    @apply vn__mask-icon;
    mask-image: url("/assets/icon-pinterest.svg");
  }

  .vn__logo-svg {
    @apply vn__mask-icon;
    mask-image: url("/assets/logo.svg");
  }

  .vn__sm-title-xl {
    @apply font-bold text-center;
    font-size: 2.625rem;
    line-height: 3rem;
    text-align: center;
    letter-spacing: -1.05px;
    color: theme(colors.stress);
  }

  .vn__lg-title-xl {
    @apply text-left;
    font-size: 5rem;
    line-height: 5.625rem;
    letter-spacing: -2px;
  }

  .vn__sm-text-xl {
    @apply font-medium text-center;
    font-size: 1.125rem;
    line-height: 1.875rem;
    letter-spacing: 0.122727px;
    color: theme(colors.text);
  }

  .vn__lg-text-xl {
    @apply text-left;
    font-size: 1.375rem;
    line-height: 2.25rem;
    letter-spacing: 0.15px;
  }

  .vn__sm-title-md {
    @apply font-bold text-center;
    font-size: 1.75rem;
    line-height: 3rem;
    letter-spacing: -0.7px;
    color: theme(colors.stress);
  }

  .vn__lg-title-md {
    font-size: 2.5rem;
  }

  .vn__sm-text-md {
    @apply font-medium text-center;
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.109091px;
    color: theme(colors.text);
  }

  .vn__lg-text-md {
    font-size: 1.125rem;
    line-height: 2rem;
  }

  .vn__sm-title-sm {
    @apply font-bold;
    font-size: 1.375rem;
    line-height: 2.0625rem;
    color: theme(colors.stress);
  }

  .vn__sm-text-sm {
    @apply font-medium;
    font-size: 0.9375rem;
    line-height: 1.625rem;
    color: theme(colors.text);
  }
}

.vn__hero-image::before {
  content: "";
  display: block;
  width: 156.2691131%;
  padding-bottom: 102.7625688%;
  background-image: url("/assets/illustration-working.svg");
  @apply bg-center bg-no-repeat bg-contain;
}

@media screen(lg) {
  .vn__hero-image::before {
    width: 164.3497758%;
    padding-bottom: 108.0717489%;
  }
}

.vn__shortener-pattern::before {
  @apply absolute inset-0 bg-center bg-no-repeat bg-cover;
  content: "";
  background-image: url("/assets/bg-shorten-mobile.svg");
}

@media screen(lg) {
  .vn__shortener-pattern::before {
    background-image: url("/assets/bg-shorten-desktop.svg");
  }
}

.vn__boost-pattern::before {
  @apply absolute inset-0 bg-center bg-no-repeat bg-cover;
  content: "";
  background-image: url("/assets/bg-boost-mobile.svg");
}

@media screen(lg) {
  .vn__boost-pattern::before {
    background-image: url("/assets/bg-boost-desktop.svg");
  }
}

.vn__statistics-pattern::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 80%;
  background-color: theme(colors.primary);
}

@media screen(lg) {
  .vn__statistics-pattern::before {
    height: 8px;
    width: 80%;
  }
}
